<mat-card>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <div class="btn-action">
    <button mat-fab>
      <mat-icon (click)="edit()">edit</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon (click)="remove()">close</mat-icon>
    </button>
  </div>
  <mat-card-title>{{ post.name }}</mat-card-title>
  <mat-card-content>
      {{ post.description }}
    <div class="profile">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      By <span class="username">{{ post.author }}</span>
    </div>
  </mat-card-content>
</mat-card>
