<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Menu</span>
    <span class="example-spacer"></span>
    <button mat-button>
      <mat-icon (click)="openForm()">add_box</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="4%" class="content">
  <app-card fxFlex="21%" fxFlex.sm="46%" fxFlex.xs="100%" *ngFor="let item of list; let i = index"
    [post]="item"
    (editEvent)="editItem(i)"
    (removeEvent)="removeItem(i)">
  </app-card>
</div>
